@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
</head>
<body>
    <div>
        <div>
            <h1 style="text-align:center">
                <b>
                    We're going to have an exciting party.<br />
                    (To do: sell it better. Add pictures or something.)
                </b>
                <br />
                <br />
                <br />
                <a asp-action="RsvpForm">Rsvp Now</a>
                <b></b>
            </h1>
        </div>
    </div>
</body>
</html>