@model string
@{
    Layout = null;
}
<!DOCKTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>

<body>
    <div>
        @Model World(from the view)
    </div>
</body>
</html>